<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
    <script src="../../layuiadmin/layui/layui.js"></script>
    <style>
        #article-list-add{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">文章列表</div>
                <div class="layui-card-body">
                    <div>
                        <button class="layui-btn" id="article-list-add">
                            新增文章
                        </button>
                    </div>
                    <table class="layui-hide" id="article-list-table" lay-filter="article-list-table"></table>
                    <script type="text/html" id="article-list-operate">
                        <a class="layui-btn layui-btn-xs" lay-event="edit" >编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table','req','layer','tinymce'], function(){
        var table = layui.table;
        var $ = layui.$,layer = layui.layer,
        tinymce = layui.tinymce

        table.render({
            elem: '#article-list-table'
            ,url: 'article',
            request: {
                pageName: 'pageNum' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            },
            page:{

            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            }
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [[
                {type:'checkbox'},
                {field:'id', title: 'ID'}
                ,{field:'title', title: '文章标题'} ,//width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                {field: 'createTime',title: '创建时间'},
                {field: 'viewNum',title: '阅读量'},
                {width:178, align:'center', fixed: 'right', toolbar: '#article-list-operate'}
            ]]
        });

        function openEditLayer(id){
            layer.open({
                type:2,
                btn:null,
                title: id?'编辑':'新增'+'文章'
                ,content: 'articleList/updateArticle.html?id='+id,
                area: ['950px', '580px']
            });
        }

        //新增
        $("#article-list-add").click(function () {
            openEditLayer()
        })


        table.on('tool(article-list-table)', function(obj){
            var data = obj.data;
            var id = data.id,ids = []
            if(obj.event === 'del'){
                layer.confirm('确定删除', function(index){
                    $.ajax({
                        method:'post',
                        data: {
                            ids:[id]
                        },
                        url: 'article/delete',
                        success:function () {
                            layer.msg('删除成功', {time:1000},function () {
                                layui.table.reload('article-list-table'); //重载表格
                            })
                        }
                    })
                });
            }
            if(obj.event === 'edit'){
                openEditLayer(data.id)
            }
        });
    });
</script>
</body>
</html>

